.cell
    // - col: 10;
    // --offset: 0;
    width:  "-webkit-calc(10% * %s)" % col
    width:     "-moz-calc(10% * %s)" % col
    width:          "calc(10% * %s)" % col
    margin-left: "-webkit-calc(10% * %s)" % offset
    margin-left:    "-moz-calc(10% * %s)" % offset
    margin-left:         "calc(10% * %s)" % offset