// ЦВЕТА


//СЕТКА
col = 12;
offset = 0;

// РАЗМЕРЫ
baseFontSize = 16px

// ШРИФТЫ

mainFont = 'Montserrat-Light', Arial, sans-serfi
rr = 'Raleway-Regular', Arial, sans-serfi
rm = 'Raleway-Medium', Arial, sans-serfi
rb = 'Raleway-Bold', Arial, sans-serfi
re = 'Raleway-ExtraBold', Arial, sans-serfi
me = 'Montserrat-ExtraLight' , Arial, sans-serfi
ml = 'Montserrat-Light', Arial, sans-serfi
mm = 'Montserrat-Medium', Arial, sans-serfi
mr = 'Montserrat-Regular', Arial, sans-serfi
mt = 'Montserrat-Thin', Arial, sans-serfi
ro = 'Roboto-Regular', Arial, sans-serfi